<nz-upload nzAction="https://localhost:44375/api/dorandom/" (nzChange)="bindingdata($event)">
  <button nz-button>
    <i nz-icon type="upload"></i><span> 上传Excel文件</span>
  </button>
</nz-upload>
<br />
<nz-table #basicTable [nzData]="dataSet" [nzPageSize]="10">
  <thead>
    <tr>
      <th>序号</th>
      <th>名称</th>
      <th>信用码</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.code}}</td>

    </tr>
  </tbody>
</nz-table>